html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  background-color: #dcd4cd;
  border: solid 3px #9a816d;
  border-radius: 8px;
  display: inline-block;
  text-decoration: none;
  color: #512200;
  padding: 1rem;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h2 {
  font-size: 1.5rem;
  font-family: Dosis, sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin: 0 0 .5rem;
  display: inline-block;
}

p {
  line-height: 1.5rem;
  font-size: 1rem;
  margin: 0 0 1rem;
  display: inline-block;
  padding: 0;
}

dl {
  font-size: .875rem;
  border-style: solid;
  border-left: .5px;
  border-right: .5px;
  border-color: #9a816d;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

dt {
  display: inline-block;
  width: 48%;
  padding: .25em;
}

dd {
  display: inline-block;
  font-style: italic;
  width: 48%;
  margin: 0;
  padding: .25em;
}

.btn {
  background-color: #785439;
  text-align: center;
  display: inline-block;
  font-size: 1.125rem;
  text-decoration: none;
  color: #fff;
  border-style: solid;
  border-color: #785439;
  padding: .4em .75em .3em;
  border-radius: 8px;
  border-width: 3px;
  margin: 1em 0 0 3em;
}

.btn:hover {
  background-color: #512200;
  border-color: #512200;
}
